<div>

    <div id="beer-list">
        {{#each beersFromApi}}
        <ol id="beer-li"><img src="{{this.image_url}}" alt="beer" width="35px">
            <ul>
                <h3 id="beerName">{{this.name}}</h3>
                <h4 id="beerDesc">Description:</h4>{{this.description}}
                <p id="beerTag">{{this.tagline}}</p>
            </ul>
        </ol>
        {{/each}}
</div>