<div id="main-img">
    <img src="images/beer.png" width="250px" height="250" alt="beer">
</div>
<div>
    <a href="/beers">
        <button id="btn">Check the Beers!</button>
    </a>
</div>
<div>
    <a href="/random-beer">
        <button id="btn">Check a Random Beer!</button>
    </a>
</div>
<div>
    <footer>
        <p>Develop by Ironhack ;)</p>
    </footer>
</div>